<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikepenz.fastadapter.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.mikepenz.fastadapter.app.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme">
        <!-- android:supportsRtl="true" -->
        <activity
            android:name="com.mikepenz.fastadapter.app.SampleActivity"
            android:theme="@style/MaterialDrawerTheme.Light.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mikepenz.fastadapter.app.SimpleItemListActivity"
            android:label="@string/sample_simple_item_list" />
        <activity
            android:name="com.mikepenz.fastadapter.app.SwipeListActivity"
            android:label="@string/sample_swipe_list" />
        <activity
            android:name="com.mikepenz.fastadapter.app.ImageListActivity"
            android:label="@string/sample_image_list" />
        <activity
            android:name="com.mikepenz.fastadapter.app.MultiselectSampleActivity"
            android:label="@string/sample_multi_select" />
        <activity
            android:name="com.mikepenz.fastadapter.app.ExpandableSampleActivity"
            android:label="@string/sample_collapsible" />
        <activity
            android:name="com.mikepenz.fastadapter.app.ExpandableMultiselectDeleteSampleActivity"
            android:label="@string/sample_collapsible_multi_select_delete" />
        <activity
            android:name="com.mikepenz.fastadapter.app.StickyHeaderSampleActivity"
            android:label="@string/sample_sticky_header" />
        <activity
            android:name="com.mikepenz.fastadapter.app.AdvancedSampleActivity"
            android:label="@string/sample_advanced" />
        <activity
            android:name="com.mikepenz.fastadapter.app.IconGridActivity"
            android:label="@string/sample_icon_grid" />
        <activity
            android:name="com.mikepenz.fastadapter.app.ModelItemActivity"
            android:label="@string/sample_model_item" />
        <activity
            android:name="com.mikepenz.fastadapter.app.MultiTypeModelItemActivity"
            android:label="@string/sample_multi_model_item" />
        <activity
            android:name="com.mikepenz.fastadapter.app.CheckBoxSampleActivity"
            android:label="@string/sample_checkbox_item" />
        <activity
            android:name="com.mikepenz.fastadapter.app.RadioButtonSampleActivity"
            android:label="@string/sample_radiobutton_item" />
        <activity
            android:name="com.mikepenz.fastadapter.app.EndlessScrollListActivity"
            android:label="@string/sample_endless_scroll_item" />
        <activity
            android:name="com.mikepenz.fastadapter.app.SortActivity"
            android:label="@string/sample_sort" />
        <activity
            android:name="com.mikepenz.fastadapter.app.MopubAdsActivity"
            android:label="@string/sample_mopub" />
        <activity
            android:name="com.mikepenz.fastadapter.app.RealmActivity"
            android:label="@string/sample_realm_list" />
        <activity
            android:name="com.mikepenz.fastadapter.app.StickyHeaderMopubAdsActivity"
            android:label="@string/sample_sticky_header_mopub" />
        <activity
            android:name="com.mikepenz.fastadapter.app.DiffUtilActivity"
            android:label="@string/sample_diff_util" />

        <!-- USED FOR THE MopubAdsActivity sample-->
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>
</manifest>
